@import url('https://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.cdnfonts.com/css/satoshi');  

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Satoshi', sans-serif;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #292929;
  background-color: #fff;

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*::-webkit-scrollbar{
  display: none;
}

@layer utilities{
  .nav{
    @apply mr-[47px] last:mr-0 text-2xl leading-8 inline-block
  }
  .active{
    @apply font-medium underline
  }
  .rounded-btn{
    @apply flex items-center justify-center bg-white/[0.2] h-[69.71px] w-[69.71px] rounded-full backdrop-blur-[7.77035px]
  }
  .cart-btn{
    @apply text-[#888888] text-lg pb-2 border-b-[0.5px] border-b-[#747474]  w-1/3
  }
  .active-cart-btn{
    @apply border-b-[#2F4333] border-b-2 text-[#292929] font-medium
  }
  .inputStyle{
    @apply text-grey-light focus:outline-0 bg-[#F2F2F2] border border-[0.5px] border-[#747474] rounded-[10px] py-3 px-5 mt-2 w-full
  }
  .blurBox{
    @apply h-[35px] w-[35px] rounded-full blur-[12.5px] -z-10 absolute
  }
  .mobile-nav{
    @apply text-[1.5rem] leading-[52px] text-grey font-medium my-[9px]
  }
}

.overflow-x-scroll::-webkit-scrollbar{
  display: none;
}

.view-overlay:hover div{
  opacity: 1;
}

.gradient{
  background-image:  linear-gradient(99.99deg, #4693ED -26.21%, #79C2D2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
}

.image-bg{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)), linear-gradient(104.57deg, rgba(0, 0, 0, 0) 21.03%, rgba(0, 0, 0, 0.2) 56.5%, rgba(0, 0, 0, 0.2) 93.84%), url('src/assets/image.png');
}

.h-calc{
  height: calc(100vh - 109px);
}

.border-img{
  background: linear-gradient(180deg, #78A3AD 0%, rgba(192, 86, 9, 0.49) 100%);
}
.text-gradient{
  background: linear-gradient(94.97deg, #78A3AD 24.64%, rgba(192, 86, 9, 0.49) 118.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.rotate-anim{
  animation: rotate 1s infinite linear;
}

.rotate-anim1{
  animation: rotate2 1s infinite linear;
}

.w-0{
  width: 0 !important;
}

.lightbg{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(245, 244, 244, 0.24);
}

@keyframes rotate {
  0%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}

@keyframes rotate2 {
  0%{transform: rotate(360deg)}
  100%{transform: rotate(0deg)}
}

.auction-card-wrapper:hover .auction-card{
  width: 80% !important;
  height: 90% !important;
}
.auction-card-wrapper:hover .auction-join{
  opacity: 1 !important;
}

@media (max-width: 768px){
  .custom-h{
    height: 224px;
  }
}

.grey-color{
  background-color: #999EA5;
}

.green-color{
 background-color: #3EA03B;
}
.background-grey{
  background-color: #B8BABC !important;
}

.skeleton-loader div, .skeleton-loader article{
  animation: anims 1s ease-in infinite alternate-reverse forwards;
}

@keyframes anims{
  0%{opacity: 1;} 
  100%{opacity: 0.1;}
}

.like-container svg{
  top: 100%;
  animation: fadeup 5s ease-in forwards;
}
@keyframes fadeup {
  0%{
    opacity: 1;
    top: 100%;
  }
  100%{
    opacity: 0;
    top: 0;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.item:nth-child(odd) img{
  animation: slideInFromLeft 1s ease-in-out ;
}
.item:nth-child(even) img{
  animation: slideInFromRight 1s ease-in-out ;
}